<div class="alert alert-warning clearfix" role="alert">
  <h4 class="alert-heading">About...</h4>
  <hr>
  <p>
    Simple Todo List using Angular and a RESTful nodejs API.
  </p>
  <hr>
  <p>
    Open source code:
  </p>
  <i class="fa fa-github" aria-hidden="true"></i>
  <a href="https://github.com/fernandofragoso/angular-todolist" target="_blank">angular-todolist</a><br />
  <i class="fa fa-github" aria-hidden="true"></i>
  <a href="https://github.com/fernandofragoso/node-todolist-api" target="_blank">node-todolist-api</a>
  <hr>
  <p class="float-right">
    MIT License
  </p>
</div>
