<div class="card">
  <div class="card-header">
    <i class="fa fa-list-ul" aria-hidden="true"></i>
    Tasks
    <button class="btn btn-sm btn-outline-secondary float-right" (click)="showNewTaskForm()">New Task</button></div>
  <div class="card-body">
    <ul class="list-group">
      <li *ngFor="let task of tasks"
        [class.bg-pending]="task.status == 'pending'"
        [class.bg-ongoing]="task.status == 'ongoing'" 
        [class.bg-completed]="task.status == 'completed'"
        class="list-group-item">
        <app-task
          [task]="task"
          (onRemoveTask)="removeTask(task)">
        </app-task>
      </li>
    </ul>
  </div>
</div>
